:root {
  --light-color: #ffecd6;
  --lightblue-color: #4cb9e7;
  --blue-color: #3559e0;
  --darkblue-color: #0f2167;
  --negative-color: #BF3131;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: var(--light-color);
  color: var(--darkblue-color);
}

html,
body,
#__nuxt {
  width: 100%;
  height: 100%;
}
